html{
    width: 1500px;
    height: 800px;
    background: url("IMG_0047.jpg") no-repeat;
    background-size: cover;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center; 
}
#plus{
    top:730px;
    width : 50px;
    height: 50px;
    left: 1150px;
    position: absolute;
    display: flex;
    margin-bottom:0px;
    opacity: 100%;
    cursor: pointer;
    justify-content: center;

}
#redo{
    top: 80px;
    width : 50px;
    height: 50px;
    left: 100px;
    position: absolute;
    display: flex;
    margin-bottom:0px;
    opacity: 100%;
    justify-content: center;
    background-color:#F2DDCC;
    opacity: 80%;
    cursor: pointer;
    
}
#random_img{
    top:730px;
    width : 50px;
    height: 50px;
    left: 1215px;
    position: absolute;
    display: flex;
    margin-bottom:0px;
    opacity: 100%;
    justify-content: center;
    opacity: 80%;
    cursor: pointer;
}
#random_img2{
    top:730px;
    width : 50px;
    height: 50px;
    left: 1275px;
    position: absolute;
    display: flex;
    margin-bottom:0px;
    opacity: 100%;
    justify-content: center;
    opacity: 80%;
    cursor: pointer;
}
#random_img3{
    top:730px;
    width : 50px;
    height: 50px;
    left: 1335px;
    position: absolute;
    display: flex;
    margin-bottom:0px;
    opacity: 100%;
    justify-content: center;
    opacity: 80%;
    cursor: pointer;
}
#text-redo {
    position: absolute;
    text-align: center;
    top: 180px;
    font-size: 70px;
    opacity: 100%;
    left: 350px;
    margin-left: auto;
	margin-right: auto;
	max-width: -webkit-max-content;  /* für Safari */	
	max-width: -moz-max-content; 
    color: #F2DDCC;
    font-family: Arial, Helvetica, sans-serif;
}
#redo-newGame{
    position: absolute;
    left: 650px;
    top: 280px;
    text-align: center;
    margin-left: auto;
	margin-right: auto;
    max-width: -webkit-max-content;  /* für Safari */	
	max-width: -moz-max-content; 
    background-color:#F2DDCC;
    width : 100px;
    height: 100px;

}
.menüleiste{
    position: absolute;
    margin-left: auto;
	margin-right: auto;
    text-align: center;
    align-items: center;
    display: flex;

}
.Info{
    top:280px;
    font-size: 15px;
    left: 1150px;
    position: absolute;
    display: flex;
    margin-bottom:0px;
    font-family:Arial, Helvetica, sans-serif;
    color: #262523;
    font-weight: bold;
    cursor: pointer;
    justify-content: center;
}
.doenerzahl{
    position: absolute;
    text-align: left;
    display: flex;
    top: 510px;
    font-size: 15;
    opacity: 100%;
    left: 1150px;
    margin-left: auto;
	margin-right: auto;
	max-width: -webkit-max-content;  /* für Safari */	
	max-width: -moz-max-content; 
    color: #262523;
    font-family: Arial, Helvetica, sans-serif;
}
.yufkazahl{
    position: absolute;
    text-align: left;
    display: flex;
    top: 540px;
    font-size: 15;
    opacity: 100%;
    left: 1150px;
    margin-left: auto;
	margin-right: auto;
	max-width: -webkit-max-content;  /* für Safari */	
	max-width: -moz-max-content; 
    color: #262523;
    font-family: Arial, Helvetica, sans-serif;
}
.tacozahl{
    position: absolute;
    text-align: left;
    display: flex;
    top: 570px;
    font-size: 15;
    opacity: 100%;
    left: 1150px;
    margin-left: auto;
	margin-right: auto;
	max-width: -webkit-max-content;  /* für Safari */	
	max-width: -moz-max-content; 
    color: #262523;
    font-family: Arial, Helvetica, sans-serif;
}
.total{
    position: absolute;
    text-align: left;
    display: flex;
    top: 600px;
    font-size: 15;
    opacity: 100%;
    left: 1150px;
    margin-left: auto;
	margin-right: auto;
	max-width: -webkit-max-content;  /* für Safari */	
	max-width: -moz-max-content; 
    color: #262523;
    font-family: Arial, Helvetica, sans-serif;
}
.fleischzahl{
    position: absolute;
    text-align: left;
    display: flex;
    top: 310px;
    font-size: 15;
    opacity: 100%;
    left: 1150px;
    margin-left: auto;
	margin-right: auto;
	max-width: -webkit-max-content;  /* für Safari */	
	max-width: -moz-max-content; 
    color: #262523;
    font-family: Arial, Helvetica, sans-serif;
}
.tomatezahl{
    position: absolute;
    text-align: left;
    top: 340px;
    font-size: 15;
    opacity: 100%;
    left: 1150px;
    margin-left: auto;
	margin-right: auto;
	max-width: -webkit-max-content;  /* für Safari */	
	max-width: -moz-max-content; 
    color: #262523;
    font-family: Arial, Helvetica, sans-serif;
}
.saladzahl{
    position: absolute;
    text-align: left;
    top: 370px;
    font-size: 15;
    opacity: 100%;
    left: 1150px;
    margin-left: auto;
	margin-right: auto;
	max-width: -webkit-max-content;  /* für Safari */	
	max-width: -moz-max-content; 
    color: #262523;
    font-family: Arial, Helvetica, sans-serif;
}
.zwiebelzahl{
    position: absolute;
    text-align: left;
    top: 400px;
    font-size: 15;
    opacity: 100%;
    left: 1150px;
    margin-left: auto;
	margin-right: auto;
	max-width: -webkit-max-content;  /* für Safari */	
	max-width: -moz-max-content; 
    color: #262523;
    font-family: Arial, Helvetica, sans-serif;
}
.gurkezahl{
    position: absolute;
    text-align: left;
    top: 430px;
    font-size: 15;
    opacity: 100%;
    left: 1150px;
    margin-left: auto;
	margin-right: auto;
	max-width: -webkit-max-content;  /* für Safari */	
	max-width: -moz-max-content; 
    color: #262523;
    font-family: Arial, Helvetica, sans-serif;
}
.settingscontainer{
    top:100px;
    left: 550px;
    position: absolute;
    margin-left: auto;
	margin-right: auto;
    text-align: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    justify-content: center;
    color: white;

}
.canvas {
    align-items: center;
    justify-content: center;
}
.gemuese{
    display: flex;

    
}
.header {
    top:-20px;
    margin-left: auto;
	margin-right: auto;
	max-width: -webkit-max-content;  /* für Safari */	
	max-width: -moz-max-content;     /* für Firefox */
	text-align: center;
    opacity: 100%;
    font-size: 70px;
    
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
#salad-theke{
    top:160px;
    width: 80px;
    left: 660px;
    position: absolute;
    display: flex;
    margin-bottom:0px;
    opacity: 100%;
    cursor: pointer;
    justify-content: center;
}
.salad{
    top:160px;
    width: 25px;
    left: 730px;
    position: absolute;
    display: flex;
    font-size: 20px;
    background-color: #73645F;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.saladküche{
    top:160px;
    width: 25px;
    left: 220px;
    position: absolute;
    display: flex;
    font-size: 20px;
    background-color: #73645F;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.is-hidden {
    display:none !important;
} 
#buttonsal {
    top:160px;
    width: 80px;
    left: 145px;
    position: absolute;
    display: flex;
    margin-bottom:0px;
    opacity: 100%;
    cursor: pointer;
    justify-content: center;

}
#salad-küche{
    top:160px;
    width: 80px;
    left: 145px;
    position: absolute;
    display:flex ;
    margin-bottom:0px;
    opacity: 70%;
    justify-content: center;
}

.menu{
    top:150px;
    font-size: 15px;
    left: 1150px;
    position: absolute;
    display: flex;
    margin-bottom:0px;
    opacity: 100%;
    justify-content: center;
    color: #262523;
    font-family: Arial, Helvetica, sans-serif;
}
#doener{
    top:180px;
    width: 60px;
    left: 1140px;
    position: absolute;
    display:flex ;
    margin-bottom:0px;
    opacity: 100%;
    justify-content: center;
}
#yufka{
    top:180px;
    width: 60px;
    left: 1235px;
    position: absolute;
    display:flex ;
    margin-bottom:0px;
    opacity: 100%;
    justify-content: center;
}
#taco{
    top:180px;
    width: 60px;
    left: 1330px;
    position: absolute;
    display:flex ;
    margin-bottom:0px;
    opacity: 100%;
    justify-content: center;
}
#counter{
    top:160px;
    width: 80px;
    left: 655px;
    position: absolute;
    display: flex;
    margin-bottom:0px;
    opacity: 100%;
    cursor: pointer;
    justify-content: center;

}
.zwiebel{
    top:280px;
    width: 25px;
    left: 730px;
    position: absolute;
    display: flex;
    font-size: 20px;
    background-color: #73645F;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.zwiebelküche{
    top:280px;
    width: 25px;
    left: 220px;
    position: absolute;
    display: flex;
    font-size: 20px;
    background-color: #73645F;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
#zwiebel-küche{
    top:280px;
    width: 80px;
    left: 145px;
    position: absolute;
    display:flex ;
    margin-bottom:0px;
    opacity: 70%;
    justify-content: center;
}
#zwiebel-theke{
    top:280px;
    width: 80px;
    left: 655px;
    position: absolute;
    display: flex;
    margin-bottom:0px;
    opacity: 100%;
    cursor: pointer;
    justify-content: center;

}
#counterzwi{
    top:280px;
    width: 80px;
    left: 655px;
    position: absolute;
    display: flex;
    margin-bottom:0px;
    opacity: 100%;
    cursor: pointer;
    justify-content: center;
}
#buttonzwi{
    top:280px;
    width: 80px;
    left: 145px;
    position: absolute;
    display: flex;
    margin-bottom:0px;
    opacity: 100%;
    cursor: pointer;
    justify-content: center;
}
.gurke{
    top:405px;
    width: 25px;
    left: 730px;
    position: absolute;
    display: flex;
    font-size: 20px;
    background-color: #73645F;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.gurkeküche{
    top:405px;
    width: 25px;
    left: 220px;
    position: absolute;
    display: flex;
    font-size: 20px;
    background-color: #73645F;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
#gurke-küche{
    top:405px;
    width: 80px;
    left: 145px;
    position: absolute;
    display:flex ;
    margin-bottom:0px;
    opacity: 70%;
    justify-content: center;
}
#gurke-theke{
    top:405px;
    width: 80px;
    left: 655px;
    position: absolute;
    display: flex;
    margin-bottom:0px;
    opacity: 100%;
    cursor: pointer;
    justify-content: center;

}
#countergur{
    top:405px;
    width: 75px;
    left: 655px;
    position: absolute;
    display: flex;
    margin-bottom:0px;
    opacity: 100%;
    cursor: pointer;
    justify-content: center;
}
#buttongur{
    top:405px;
    width: 80px;
    left: 145px;
    position: absolute;
    display: flex;
    margin-bottom:0px;
    opacity: 100%;
    cursor: pointer;
    justify-content: center;
}
.tomate{
    top:520px;
    width: 25px;
    left: 730px;
    position: absolute;
    display: flex;
    font-size: 20px;
    background-color: #73645F;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.tomateküche{
    top:520px;
    width: 25px;
    left: 220px;
    position: absolute;
    display: flex;
    font-size: 20px;
    background-color: #73645F;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
#tomate-küche{
    top:520px;
    width: 80px;
    left: 145px;
    position: absolute;
    display:flex ;
    margin-bottom:0px;
    opacity: 70%;
    justify-content: center;
}
#tomate-theke{
    top:520px;
    width: 80px;
    left: 655px;
    position: absolute;
    display: flex;
    margin-bottom:0px;
    opacity: 100%;
    cursor: pointer;
    justify-content: center;

}
#countertom{
    top:520px;
    width: 75px;
    left: 655px;
    position: absolute;
    display: flex;
    margin-bottom:0px;
    opacity: 100%;
    cursor: pointer;
    justify-content: center;
}
#buttontom{
    top:520px;
    width: 80px;
    left: 145px;
    position: absolute;
    display: flex;
    margin-bottom:0px;
    opacity: 100%;
    cursor: pointer;
    justify-content: center;
}
.fleisch{
    top:160px;
    width: 25px;
    left: 605px;
    position: absolute;
    display: flex;
    font-size: 20px;
    background-color: #73645F;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.fleischküche{
    top:640px;
    width: 25px;
    left: 220px;
    position: absolute;
    display: flex;
    font-size: 20px;
    background-color: #73645F;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
#fleisch-küche{
    top:640px;
    width: 80px;
    left: 145px;
    position: absolute;
    display:flex ;
    margin-bottom:0px;
    opacity: 70%;
    justify-content: center;
}
#fleisch-theke{
    top:160px;
    width: 80px;
    left: 530px;
    position: absolute;
    display: flex;
    margin-bottom:0px;
    opacity: 100%;
    cursor: pointer;
    justify-content: center;

}
#counterflei{
    top:160px;
    width: 75px;
    left: 530px;
    position: absolute;
    display: flex;
    margin-bottom:0px;
    opacity: 100%;
    cursor: pointer;
    justify-content: center;
}
#buttonflei{
    top:640px;
    width: 80px;
    left: 145px;
    position: absolute;
    display: flex;
    margin-bottom:0px;
    opacity: 100%;
    cursor: pointer;
    justify-content: center;
}